html {
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    margin: 20px;
    padding: 20px;
    background-image: url("../style/img/background1.jpg");
    background-repeat: repeat;
    font-family: "brandonbold";

}
@font-face {
    font-family: "brandonbold";
    src: url("brandon/Brandontext-Bold.otf");
}

@font-face {
    font-family: "brandonregular";
    src: url("brandon/BrandonText-Regular.otf");
}

@font-face {
    font-family: "brandonThin";
    src: url("brandon/BrandonText-Thin.otf");
}

.header {
    display: flex;
    position: fixed;
    background-color: black;
    color: white;
    height: 25%;
    width: 100%;
    left:0;
    z-index : 1
}

.title {
    align-self: center;
}

.categorie {
    float: right;
    color: aqua;
    position: absolute;
    right: 6%;
    align-self: center;
    font-family: "brandonregular";
}

.title {
    margin: 5% 5%;
}

div.p {
    text-align: center;
}
h1 {
    margin: 0;
    text-shadow: 0 0 1px #ffeab3, 0 0 10px #fff, 0 0 10px #000;
}
h2 {
    font-size: 15px;
    margin: 0;
    color: pink;
}

.imgheader {
    width: 35%;
    position: sticky;
    margin-left: 12%;
    margin-top: 0px;
}

div.header {
    top: 0;
}
.text {
    margin: 22% 20%;
    text-align: center;
    font-family: brandonThin;
    font-size: 22px;
}

a.film:after {
    width: 10%;
    left: 7px;
}

a.perso:after{
    width: 26%;
    left: 72px;
}

a.location:after {
    width: 18%;
    left: 210px;
}
a.species:after {
    width: 14%;
    left: 320px;
}
a.vehicles:after {
    width: 17%;
    left: 400px;
}
a:after{
    content: '';
    position: absolute;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a {
    color: white;
    margin: 10px 10px;
    transition: all .4s;
    margin-bottom: 20px;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-shadow: 0 0 1px #ffeab3, 0 0 10px #fff, 0 0 10px #000;
}

div.chosenfilm {
    display: flex;
    margin-top: 12%;
}
.imgchosen {
    width: 900px;
    margin-top: -12%;
}

.titlechosen {
    text-transform: uppercase;
    color: black;
    font-family: brandonbold;
    margin-bottom: 20px;
}




.patterns {
    height: 20vh;
    margin-top: 10%;
}

svg text {
    letter-spacing: 7px;
    stroke: #d6559e;
    font-size: 58px;
    font-weight: 700;
    stroke-width: 3;

    animation: textAnimate 5s infinite alternate;

}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset:  20%;
        fill:hsl(189deg 52% 56%)

    }

    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: hsla(189, 68%, 75%,0%)
    }

}

div.imgleft {
    margin-left: 5%;
    margin-top: -8%;
}

div.personnage {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 8%;
}

div.vehicles {
    display: flex;
    width: 460px;
}

div.species {
    display: flex;
    width: 460px;
}

div.descritpion {
    color: white;
}

svg {
    margin-top : 3%;
}



