html {
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("../style/img/background1.jpg");
    background-repeat: repeat;
    font-family: "brandonbold";
}
@font-face {
    font-family: "brandonbold";
    src: url("brandon/Brandontext-Bold.otf");
}

@font-face {
    font-family: "brandonregular";
    src: url("brandon/BrandonText-Regular.otf");
}

@font-face {
    font-family: "brandonThin";
    src: url("brandon/BrandonText-Thin.otf");
}

.header {
    display: flex;
    background-color: black;
    color: white;
    height: 25%;
    width: 100%;
    left:0;
    z-index : 1
}

.title {
    align-self: center;
}

.categorie {
    float: right;
    color: aqua;
    position: absolute;
    right: 6%;
    align-self: center;
    font-family: "brandonregular";
}

.title {
    margin: 5% 5%;
}
h1 {
    margin: 0;
    text-shadow: 0 0 1px #ffeab3, 0 0 10px #fff, 0 0 10px #000;
}
h2 {
    font-size: 15px;
    margin: 0;
    color: pink;
}

.imgheader {
    width: 35%;
    position: sticky;
    margin-left: 12%;
    margin-top: 0px;
}

div.header {
    top: 0;
}
.text {
    margin: 22% 20%;
    text-align: center;
    font-family: brandonThin;
    font-size: 22px;
}

a.film:after {
    width: 10%;
    left: 7px;
}

a.perso:after{
    width: 26%;
    left: 72px;
}

a.location:after {
    width: 18%;
    left: 210px;
}
a.species:after {
    width: 14%;
    left: 320px;
}
a.vehicles:after {
    width: 17%;
    left: 400px;
}
a:after{
    content: '';
    position: absolute;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a {
    color: white;
    margin: 10px 10px;
    transition: all .4s;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-shadow: 0 0 1px #ffeab3, 0 0 10px #fff, 0 0 10px #000;
}

.contains {
    color: white;
    margin-top:2vw;
    height: 25%;
    width: 97%;
    margin-left:1vw
}

.footer{
    color: white;
    margin-top:1vw;
    height: 25%;
    width: 97%;
    margin-left:1vw;
    display:flex
}

.footer2{
    color: white;
    margin-top:1vw;
    height: 25%;
    width: 97%;
    margin-left:1vw;
}

.container{
    width: 100%;
    height: 100%;
}

.values{
    display:flex
}


.title1{
    color:black
}

.title2{
    color:black;
    width: 17vw;
    padding-top: 2.2vh;
}

.title3{
    color:black;
    padding-top: 2.2vh;
}

.title4{
    color:black;
    padding-top: 2.6vh;
}

.contentGO{
    margin-left:0.6vw
}

.contentLink{
    display:flex;
    height: 20vh;
    display:flex;
}

.contentLink1{
    display:flex;
    height: 52vh;
    display:flex;
}

div.contentLink{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 6px;
    grid-auto-rows: minmax(100px, auto);
}

div.contentLink1{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 6px;
    grid-auto-rows: minmax(100px, auto);
}

.titrefilms2{
    padding-left:0.2vw
}

.spef{
    padding-top: 0.6vh;
}